In [2]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
# read the csv file with female labor force participation in Albania data 
flfp_albania = pd.read_csv("FLFP Data Albania - Sheet1.csv")

In [16]:
flfp_albania

    Year       FLFP       Educ          GDP     FR
0   1990  40.805673   8.796740   617.230435  2.900
1   1991  41.627239   9.301160   336.586995  2.826
2   1992  41.960396   9.748880   200.852220  2.767
3   1993  41.925370  11.303450   367.279225  2.707
4   1994  41.926369  11.179990   586.416340  2.707
5   1995  41.842612  10.554950   750.604449  2.685
6   1996  41.841292  11.585360  1009.977270  2.615
7   1997  42.216538  14.155260   717.380048  2.497
8   1998  42.186865  15.157060   813.789397  2.397
9   1999  42.070478  17.386971  1033.242530  2.318
10  2000  42.026200  18.269569  1126.683340  2.231
11  2001  41.926291  19.047661  1281.659830  2.150
12  2002  41.851292  19.784760  1425.124220  2.036
13  2003  42.035391  20.328791  1846.120120  1.978
14  2004  42.221662  24.104500  2373.581290  1.890
15  2005  42.418182  27.350531  2373.581290  1.803
16  2006  42.636838  30.427450  2972.742920  1.724
17  2007  42.884195  35.464882  3595.038060  1.671
18  2008  43.157637  36.486279  4370.539920  1.648
19  2009  42.071592  38.669891  4114.134900  1.647
20  2010  42.664846  51.571091  4094.348390  1.656
21  2011  44.060236  58.230141  4437.142610  1.671
22  2012  43.079638  69.719620  4247.630050  1.692
23  2013  41.853022  76.316513  4413.062010  1.697
24  2014  41.195118  78.319588  4578.633210  1.674
25  2015  42.502922  73.530121  3952.802540  1.613
26  2016  43.576965  70.076767  4124.055390  1.551
27  2017  42.874309  69.810364  4531.019374  1.491
28  2018  43.392704  67.578613  5287.663690  1.440
29  2019  43.942236  73.340530  5396.215860  1.414
30  2020  43.822864  71.368690  5332.160475  1.400
31  2021  44.121135  71.223503  6492.872010  1.320

In [17]:
# Create a new column with percentages to answer the question: What is the ratio of women who receive tertiary education and then join the workforce from 1990 to 2021?
flfp_albania['Tertiary Education to FLFP Ratio']= flfp_albania["Educ"]/flfp_albania["FLFP"]*100

In [18]:
flfp_albania

,Year,FLFP,Educ,GDP,FR,Tertiary Education to FLFP Ratio
0,1990,40.805673,8.796740,617.230435,2.900,21.557639
1,1991,41.627239,9.301160,336.586995,2.826,22.343927
2,1992,41.960396,9.748880,200.852220,2.767,23.233528
3,1993,41.925370,11.303450,367.279225,2.707,26.960882
4,1994,41.926369,11.179990,586.416340,2.707,26.665772
5,1995,41.842612,10.554950,750.604449,2.685,25.225361
6,1996,41.841292,11.585360,1009.977270,2.615,27.688819
7,1997,42.216538,14.155260,717.380048,2.497,33.530130
8,1998,42.186865,15.157060,813.789397,2.397,35.928386
9,1999,42.070478,17.386971,1033.242530,2.318,41.328198
10,2000,42.026200,18.269569,1126.683340,2.231,43.471857
11,2001,41.926291,19.047661,1281.659830,2.150,45.431304
12,2002,41.851292,19.784760,1425.124220,2.036,47.273952
13,2003,42.035391,20.328791,1846.120120,1.978,48.361131
14,2004,42.221662,24.104500,2373.581290,1.890,57.090362
15,2005,42.418182,27.350531,2373.581290,1.803,64.478319
16,2006,42.636838,30.427450,2972.742920,1.724,71.364227
17,2007,42.884195,35.464882,3595.038060,1.671,82.699191
18,2008,43.157637,36.486279,4370.539920,1.648,84.541882
19,2009,42.071592,38.669891,4114.134900,1.647,91.914496
20,2010,42.664846,51.571091,4094.348390,1.656,120.874902
21,2011,44.060236,58.230141,4437.142610,1.671,132.160301
22,2012,43.079638,69.719620,4247.630050,1.692,161.838916
23,2013,41.853022,76.316513,4413.062010,1.697,182.344092
24,2014,41.195118,78.319588,4578.633210,1.674,190.118614
25,2015,42.502922,73.530121,3952.802540,1.613,173.000156
26,2016,43.576965,70.076767,4124.055390,1.551,160.811492
27,2017,42.874309,69.810364,4531.019374,1.491,162.825631
28,2018,43.392704,67.578613,5287.663690,1.440,155.737271
29,2019,43.942236,73.340530,5396.215860,1.414,166.902136
30,2020,43.822864,71.368690,5332.160475,1.400,162.857203
31,2021,44.121135,71.223503,6492.872010,1.320,161.427179

Explanation: We first label the csv file flfp_albania using the pd.read_csv function. The next code creates a new column called "Tertiary Education to FLFP Ratio" in a dataframe called flfp_albania. The values in this new column are calculated by dividing the "Educ" column in the flfp_albania DataFrame by the "FLFP" column, and multiplying the result by 100 to get a percentage. This new column represents the ratio of women who receive tertiary education and then join the workforce in Albania, from 1990 to 2021.